.container {
	margin: 50px auto;
	width: 80%;
	max-width: 800px;
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
	color: #006699;
}

p {
	font-size: 1.2em;
	margin-bottom: 30px;
	line-height: 1.5;
}

a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #006699;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

a:hover {
	background-color: #004466;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;

}